{% extends 'layout/main.html' %}
{% block content %}
{% for item in products %}
<div class="col-md-4 col-lg-3">
    <div class="card">
        <img src="{{item.product_image.url}}" class="card-image-top my-3 mx-3" alt="Categories" style="height:300px">
        <hr style="border-color:#b8bfc2;">
       
        <div class="card-body">
                <h5 class="card-title text-dark" style="font-family: Audiowide, sans-serif;">{{ item.name }}</h5>
                <p class="card-text" style="font-family: Lora, serif;">{{ item.description }}</p>
                <p class="card-text">
                   <span class="float-start old_price text-danger"><s>Rs.{{ item.original_price | stringformat:'d'}}</s></span>
                   <span class="float-end new_price bg-success text-white p-1 rounded mb-3">Rs.{{ item.selling_price | stringformat:'d' }}</span>
                 </p>
            </div>
      
    </div>
</div>
{% endfor %}
{% endblock content %}